@media screen and (width < 740px) {
    /*COLLABS*/
    .collabs-text p {
        font-size: 25px;
    }

    .collabs-text span {
        font-size: 25px;
    }

    /*INFO*/
    .container {
        width: 500px;
    }

    .header {
        width: 500px;
    }

    .tabs {
        width: 500px;
    }

    .logo img {
        width: 500px;
    }

    .menu-up img {
        width: 192px;
        height: 222px;
    }

    .menu-up p {
        font-size: 15px;
    }

    .menu-down p {
        font-size: 15px;
    }

    .info-menu {
        height: 400px;
    }
}

@media screen and (width < 534px) {
 /*COLLABS*/
    .collabs-text p {
        font-size: 18px;
    }

    .collabs-text span {
        font-size: 18px;
    }

    .collabs-menu {
        padding: 35px 30px 35px 30px;
    }

    .cbtn img {
        width: 200px;
    }

    /*INFO*/
    .site-container {
        margin-top: 35%;
    }

    .container {
        width: 350px;
    }

    .header {
        width: 350px;
    }

    .tabs {
        width: 350px;
    }

    .logo img {
        width: 350px;
        height: 50px;
    }

    .menu-up img {
        width: 120px;
        height: 152px;
    }

    .menu-up p {
        font-size: 12px;
        margin: 0 auto;
    }

    .menu-down p {
        font-size: 12px;
    }

    .info-menu {
        height: 250px;
    }

    .buttons-tabs {
        text-align: center;
    }

    .buttons-tabs button {
        font-size: 12px;
    }
}