body {
    background: url('../img/back.png') no-repeat center center fixed;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    cursor: url('../cursor/cursss.png') 16 16, auto; 
}

.container {
    width: 710px;
    margin: 0px auto;
}

.header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 710px;
}

.info-menu {
    height: 600px;
}

.menu {
    display: flex;
    flex-direction: column;
    background: black;
    border: 2px solid silver;
    border-radius: 5px;
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

.menu-down {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    margin-top: 17%;
    margin-right: 15%;
    color: #F13AF1;
}

.menu-up {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: #fff;
}

.tabs {
    width: 710px;
    margin: 0px auto;
}

.tab-content .content {
    display: none;
}

.tab-content .content.active {
    display: block;
}

.buttons-tabs button {
    margin: 10px;
    cursor: inherit;
}

.menu-up p {
    line-height: 1.3;
    font-size: 24px;
}

.menu-up p span {
    color: #F13AF1;
}


/*PENIS*/
#openBtn {
    padding: 10px 20px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #F13AF1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}