/*PRELOADER*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader img {
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**/

body {
    background: url('../img/back.png')  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: url('../cursor/cursss.png') 16 16, auto; 
}

.container {
    width: 710px;
    margin: 0px auto;
}

.header {
    display: flex;
    justify-content: center;
    width: 710px;
    margin: 0 auto;
}

.logo img {
    width: 710px;
    height: 80px;
}

.info-menu {
    height: 600px;
}

.menu {
    display: flex;
    flex-direction: column;
    background: black;
    border: 3px solid silver;
    border-radius: 5px;
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

.menu-down {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    margin-top: 17%;
    margin-right: 15%;
    color: #F13AF1;
}

.menu-up {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: #fff;
}

.tabs {
    width: 710px;
    margin: 0px auto;
}

.tab-content .content {
    display: none;
}

.tab-content .content.active {
    display: block;
}

.buttons-tabs button {
    margin: 10px;
    cursor: inherit;
    font-size: 17px;
}

.menu-up p {
    line-height: 1.3;
    font-size: 24px;
}

.menu-up p span {
    color: #F13AF1;
}

/*COLLABS*/
.collabs-menu {
    padding: 35px 58px 35px 58px;
}

.collabs-text p {
    display: flex;
    font-size: 36px;
    margin: -10px auto;
}

.collabs-text span {
    display: flex;
    flex-direction: column;
    color: #F13AF1;
}

#pt {
    font-size: 35px;
    margin-left: 20px;
    line-height: 1;
}

#du {
    float: left;
}

#dn {
    float: right;
}

.cbtn {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/*PENIS*/
#fullscreenImage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

#fullscreenImage img {
    width: 100%;
    height: 100%;
     /* Ensures the image covers the container */
}

#closeBtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}